h1{
	color: #F9B3D1;
	text-align: center;
	font-size: 200px;
	font-family: 'Dawning of a New Day', cursive;
}

.container{
	background-color:#B49FCC;
	height: 200px; 
}

.top-half{
	background-color: #FFFFFF;
	height: 200px;
}

.chick{
	background-color: #EAD7D7;
	height: 2000px;
	font-family: 'BioRhyme', serif;
	font-size: 50px;
	text-align: right;
}

img{
	height: 1200px;
	width: 1200px;
	float: left;
}