h1{
	color: #F9B3D1;
	text-align: center;
	font-size: 200px;
	font-family: 'Dawning of a New Day', cursive;
}

.container{
	background-color:#B49FCC;
	height: 200px; 
}

.top-half{
	background-color: #FFFFFF;
	height: 200px;
}

.back{
	background-color: #EAD7D7;
	height: 600px;

}

.chick{
	font-family: 'BioRhyme', serif;
	font-size: 25px;
	text-align: right;
	word-wrap: break-word;
	margin-left: 600px;
	padding: 20px;
}

img{
	height: auto;
	width: 35%;
	float: left;
	transform: rotate(90deg);
}

.background{
	background-color: #C6D4FF;
	height: 700px;
}

.bio{
	font-family: 'BioRhyme', serif;
	text-align: left;
	font-size: 25px;
	padding: 30px;
	text-shadow: 2px 2px #FFFFFF;
	margin-top: 100px
}

#kimbap{
	height: 75%;
	width: auto;
	padding-left:50px;
	padding-top:50px;
	float: left;
	transform: rotate(360deg);
}

#curry{
	height: 70%;
	width: auto;
	padding-left:100px;
	float: center;
	transform: rotate(270deg);

}

#eggroll{
	height: 70%;
	width: auto;
	float: right;
	transform: rotate(360deg);
	padding-right: 50px;
}

.food{
	background-color: #EBCBF4;
	height: 700px;
	font-size: 50px;
	font-family: 'Amatic SC', cursive;
  	text-decoration: underline;
	text-align: center;
	padding-top: 25px;

}

.photography{
	background-color: #FFDF8B;
	height: 700px;

}
.photo{
	font-size: 50px;
	font-family: 'Amatic SC', cursive;
	text-align: left;
	padding-left: 200px;
	padding-top: 25px;
}

#nyc{
	transform:rotate(360deg);
	height: auto;
	width: 25%;
	padding-left: 50px;
}

#park{
	transform:rotate(360deg);
	height: auto;
	width: 25%;
	padding-left: 100px;
}

#pink{
	transform:rotate(360deg);
	height: auto;
	width: 25%;
	padding-left: 150px;
}

#art{
	transform:rotate(360deg);
	height: auto;
	width: 40%;
	padding-left: 200px
	padding-top: 50px;
}

#college{
	transform:rotate(360deg);
	height: auto;
	width: 25%;
	float: center;
	padding-left: 250px
	padding-top: 150px;
	margin-bottom: 200px;
}

#blue{
	transform:rotate(360deg);
	height: auto;
	width: 30%;
	padding-left: 250px
	padding-top: 50px;
}

